<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085336874960-acc9csgu6ik870s1tp7mrc9vg6li3ng1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085336874960-acc9csgu6ik870s1tp7mrc9vg6li3ng1</string>
	<key>API_KEY</key>
	<string>AIzaSyBL3WOkUUqyKAD3pURmG49GAd2OxztH39Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1085336874960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanjoke.mtracker</string>
	<key>PROJECT_ID</key>
	<string>my-mtracker</string>
	<key>STORAGE_BUCKET</key>
	<string>my-mtracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085336874960:ios:913deb750f4096fd89d3d5</string>
</dict>
</plist>